@font-face {
    font-family: 'Aventa-Extrabold';
    src: url('/fonts/Aventa-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
}


.image_wrapper{
    display: flex;
    width: 100%;
    height: 50vh;
    place-items: flex-end;
}
.c_image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 32vh;
    background-color: #050024;
    color:white;
    padding-left: 5%;
    border-radius: 9px;
    place-items: center;
}
.c_image h1{
    font-family: 'Aventa-Extrabold';
    font-size: 3.438rem;
}
.c_p1{
    font-family: 'Gilroy-Semibold';
    font-size: 1.125rem;
    text-align: center;
}
.c_wrapper{
    display: flex;
    height: 140vh;
    width: 100%;
    margin-top: 60px;
    gap: 60px;
}
.s4_img1{
    position: absolute;
    top: 0;
    right:0;
}
.s4_img{
    position: absolute;
    top: 0;
    right:0;
    height: 95%;
}