@font-face {
  font-family: 'Aventa-Bold';
  src: url('/fonts/Aventa-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
}

.Asection3{
  width: 100%;
  height: 100vh;
  display: flex;
  place-items: center;
}
.wrapper{
  width: 100%;
  height: 80%;
  background-color: #1C1C1C;
  border-radius: 30px;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.h{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F2F2F2;
}
.h h1{
  font-family: 'Aventa-Bold';
  font-size: 3.5rem;
}
.h p{
  font-family: 'Aventa-Bold';
  font-size: 2rem;
}
.h span{
  color: #FF8E8E;
}
.new{
  display: flex;
  height: 100%;
  margin-top: 2rem;
}
.wrap{
  display: flex;
  flex-direction: column;
  width: 33.333%;
  gap: 1.3rem;
}
.heading{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1.3rem;
}
.heading1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1.3rem;
}
.heading1 p{
  font-size: 1.3rem;
  font-family: 'Gilroy';
  color: #FEFDFE;
}
.heading p{
  font-size: 1.3rem;
  font-family: 'Gilroy';
  color: #FEFDFE;
  text-align: right;
}
.block1{
  display: flex;
  background-color: #D9D9D9;
  width: 33.333%;
  height: 95%;
}
@media screen and (max-width:1400px) {
  .heading1 p{
    font-size: 1.1rem;
  }
  .heading p{
    font-size: 1.1rem;
  }
}
@media screen and (max-width:1200px){
  .Asection3{
    display: none;
  }
}